<app-navbar></app-navbar>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      
      <div class="column is-half">
        <h1 class="title has-text-centered">{{ isEditMode ? 'Editar Servicio' : 'Añadir Servicio' }}</h1>
        <p class="subtitle has-text-centered">
          Por favor, rellene el formulario {{ isEditMode ? 'para actualizar el servicio' : 'para añadir un nuevo servicio' }}. Los campos marcados con <span class="required">*</span> son obligatorios.
        </p>

        <form [formGroup]="service_form" (ngSubmit)="onSubmit()">
          <div class="field">
            <label class="label">
              Nombre <span class="required">*</span>
            </label>
            <div class="control">
              <input
                class="input"
                formControlName="name"
                type="text"
                placeholder="Nombre del servicio"
                required
              />
            </div>
            <p
              *ngIf="
                service_form.get('name')?.invalid &&
                service_form.get('name')?.touched
              "
              class="help is-danger"
            >
              Nombre es obligatorio y debe tener menos de 100 caracteres.
            </p>
            <br />
          </div>

          <div class="field">
            <label class="label">Descripción</label>
            <div class="control">
              <textarea
                class="textarea"
                formControlName="description"
                placeholder="Descripción del servicio"
              ></textarea>
            </div>
            <br />
          </div>

          <div class="field">
            <label class="label">
              Precio <span class="required">*</span>
            </label>
            <div class="control">
              <input
                class="input"
                formControlName="price"
                type="number"
                min="0.01"
                step="0.01"
                placeholder="0.00"
                required
              />
            </div>
            <p
              *ngIf="
                service_form.get('price')?.invalid &&
                service_form.get('price')?.touched
              "
              class="help is-danger"
            >
              El precio es obligatorio y debe ser mayor que 0.00.
            </p>
            <br />
          </div>

          <div class="field">
            <label class="label">Información de Página</label>
            <div class="control">
              <textarea
                class="textarea"
                formControlName="pageInformation"
                placeholder="Información adicional del servicio"
              ></textarea>
            </div>
            <br />
          </div>

          <div class="field">
            <label class="label">
              Tiempo Aproximado (en minutos) <span class="required">*</span>
            </label>
            <div class="control">
              <input
                class="input"
                formControlName="timeAprox"
                type="number"
                min="1"
                placeholder="Ej: 30"
                required
              />
            </div>
            <p
              *ngIf="
                service_form.get('timeAprox')?.invalid &&
                service_form.get('timeAprox')?.touched
              "
              class="help is-danger"
            >
              El tiempo aproximado es obligatorio y debe ser mayor a 0 minutos.
            </p>
            <br />
          </div>

          <div class="field">
            <label class="label">Disponibilidad</label>
            <div class="control">
              <div class="select">
                <select formControlName="isAvailable">
                  <option [value]="true">Disponible</option>
                  <option [value]="false">No Disponible</option>
                </select>
              </div>
            </div>
          </div>
          
          <br /><br />
          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button *ngIf="!isEditMode" class="button is-primary" type="submit" [disabled]="service_form.invalid">
                Guardar Cambios
              </button>
              <button *ngIf="isEditMode" class="button is-primary" type="submit" [disabled]="service_form.invalid">
                Actualizar Servicio
              </button>
            </div>
            <div class="control">
              <button class="button is-light" type="button" (click)="onCancel()">Cancelar</button>
            </div>
          </div>
        </form>
      </div>

      <div class="column is-half">
        <h1 class="title has-text-centered">{{ isEditMode ? 'Editar Empleados y Recursos' : 'Añadir Empleados y Recursos' }}</h1>
        <p class="subtitle has-text-centered">
          Seleccione los empleados y recursos que desea asignar al servicio.
        </p>

        <div class="field">
          <label class="label">Buscar Empleados</label>
          <div class="control">
            <input
              class="input"
              type="text"
              [formControl]="employeeSearchControl"
              placeholder="Buscar empleados..."
            />
          </div>
          <div class="select is-multiple mt-3">
            <select multiple size="5" [formControl]="selectedEmployeesControl">
              <option *ngFor="let employee of filteredEmployees" [value]="employee.id">
                {{ employee.firstName }} - {{employee.username}} - {{ employee.email }}
              </option>
            </select>
          </div>
          <div class="control mt-4">
            <button class="button is-primary" (click)="addSelectedEmployees()" type="button">Añadir Empleados</button>
          </div>
        </div>

        <div class="field">
          <h2 class="title is-5">Empleados Seleccionados</h2>
          <ul>
            <li *ngFor="let employee of addedEmployees" class="is-flex is-align-items-center">
              {{ employee.firstName }} - {{employee.username}} - {{ employee.email }}
              <button class="delete is-small ml-3 has-text-danger" (click)="removeEmployee(employee)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
          </ul>
        </div>

        <hr class="has-background-light" style="border-top: 1px solid #ccc;">

        <div class="field">
          <label class="label">Buscar Recursos</label>
          <div class="control">
            <input
              class="input"
              type="text"
              [formControl]="resourceSearchControl"
              placeholder="Buscar recursos..."
            />
          </div>
          <div class="select is-multiple mt-3">
            <select multiple size="5" [formControl]="selectedResourcesControl">
              <option *ngFor="let resource of filteredResources" [value]="resource.name">
                {{ resource.name }}
              </option>
            </select>
          </div>
          <div class="control mt-4">
            <button class="button is-primary" (click)="addSelectedResources()" type="button">Añadir Recursos</button>
          </div>
        </div>

        <div class="field">
          <h2 class="title is-5">Recursos Seleccionados</h2>
          <ul>
            <li *ngFor="let resource of addedResources" class="is-flex is-align-items-center">
              {{ resource.name }}
              <button class="delete is-small ml-3 has-text-danger" (click)="removeResource(resource)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
