<app-navbar></app-navbar>

<br><br><br>
<div class="container">
  <div class="box">
    <h2 class="title is-3 has-text-centered">MI PERFIL</h2>

    <div class="has-text-centered">
      <figure class="image is-128x128 is-inline-block">
        <img class="is-rounded" [src]="userProfileAll.imageProfile | image" appNotProfile alt="profile image" />
      </figure>
      
      <input 
        type="file" 
        accept=".jpg, .jpeg, .png" 
        (change)="onFileSelected($event)" 
        style="display: none" 
        #fileInput />

      <div>
        <button class="button is-primary mt-3" (click)="triggerFileInput()">Seleccionar Imagen</button>
      </div>
    
      <div *ngIf="selectedPreviewImage" class="preview-container">
        <figure class="image is-64x64">
          <img [src]="selectedPreviewImage" alt="Imagen seleccionada" />
        </figure>
        <p>Vista previa de la imagen seleccionada</p>
      </div>
    
      <div *ngIf="selectedFile">
        <button (click)="onUpload()" class="button is-success mt-3">Actualizar Foto</button>
      </div>

      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    </div>
    
    

    <div class="columns mt-6">
      <!-- Sección de credenciales -->
      <div class="column">
        <div class="box">
          <h3 class="title is-5">CREDENCIALES</h3>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="text" [value]="userProfileAll.email" disabled>
            </div>
          </div>

          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" [value]="userProfileAll.username" disabled>
            </div>
          </div>
        </div>
      </div>

      <!-- Sección de info personal -->
      <div class="column">
        <div class="box">
          <h3 class="title is-5">MI INFORMACION</h3>
          <form [formGroup]="profileForm">
            <div class="field">
              <label class="label">NIT</label>
              <div class="control">
                <input class="input" type="text" formControlName="nit">
              </div>
            </div>

            <div class="field">
              <label class="label">Descripción</label>
              <div class="control">
                <textarea class="textarea" formControlName="description"></textarea>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="has-text-centered mt-5">
      <button class="button is-primary" [disabled]="!changesMade" (click)="saveChanges()">
        Guardar Cambios
      </button>
    </div>
  </div>
</div>
